{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Страница корпоротивного портала</title>
</head>
<body>
    <div class="block">
    
    <h1>Корпоративный портал</h1>
    <h2>Разработчик - Галюк Ю.А.</h2>
    </div>
    <div class="Instruction">
        <a  class="link" href="http://127.0.0.1:8000/instructions"><h3>Инструкции</h3></a></div>
    <div class="questions">
        <a class="link" href="http://127.0.0.1:8000/questions"><h3>Перейти к вопросам</h3></a></div>
</body>
</html>