{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Инструкции</title>
    </head>

<body>
    <h1>Список инструкций</h1>
    {%for instruction in data%}
    <h3>"Инструкция"</h3><p><a href="{% url 'instruction_detail' instruction_id=instruction.id %}">{{instruction.topic}}, Автор:{{ instruction.author }}<br>Дата создания:{{ instruction.publish_date }}</a></p>
    {%endfor%}<br>
    
    <div class = "instructions">
        <a href="http://127.0.0.1:8000"><h4>Перейти на главную</h4></a></div><br><br>
</body>
</html>